<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <footer>
        <div class="text-center bg-dark py-4">
          <small class="text-secondary">Copyright &copy; 
              <script> document.write(new Date().getFullYear())</script>. CONRED</a>
          </small class="text-secondary">
        </div>
      
          
        <div class="text-center bg-dark py-1">
       
          
          <small> <p> PBX: 2296-9100</p></small class="text-secondary">	
          <small> <p> www.conred.gob.gt </p></small class="text-secondary">
          <small> <p> Direccion: Avenida Hincapié 21-72, zona 13 Ciudad de Guatemala</p></small class="text-secondary">
           
          <br>
          <br>
      
          </div>
      </footer>

</body>
</html>